@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-primaria: #001C30;
    --cor-secundaria: #DAFFFB;
    --cor--terciaria: #64CCC5;
    --cor--hover: #176B87;

    --fonte-primaria:"Krona One", sans-serif;
    --fonte-secundaria:"Montserrat", sans-serif;
}

*{
    margin:0;
    padding:0;
}

body{
    
    box-sizing: border-box;
    background: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.header{
    padding: 2% 0% 0% 15%;

}

.header_menu{
    display: flex;
    gap: 80px;
}

.header_menu_link{
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600px;
    color: var(--cor--terciaria);
    text-decoration: none;

}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apr__conteudo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 615px;

}
.apr__conteudo__titulo {
    font-family: var(--fonte-primaria);
    font-size: 36px;
}

.titleStr {
    color:var(--cor--terciaria);
}

.apr__conteudo__texto {
    font-family: var(--fonte-secundaria);
    font-size:22px;
}

.apr__botoes{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}


.apr_bt_texto{
    font-family: var(--fonte-primaria);
    font-size: 24px;
    font-weight: 400px;
}
.apr_bt_links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border: 2px solid var(--cor--terciaria);
    width: 378px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--cor--secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}

.apr_bt_links:hover{
    background-color: var(--cor--hover);
}

.footer{
    padding: 24px;
    background-color: var(--cor--terciaria);
    color: var(--cor--primaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 24px;
}